@model IEnumerable<MF_Modelo.Cuenta_Abono>

@{
    ViewBag.Title = "Abonos";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<br />
<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3 text-center">
        <form class="form-inline">
            <button type="submit" class="btn btn-primary form-control" disabled>Saldo</button>
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Saldo en la cuenta</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control text-right" id="exampleInputAmount" disabled placeholder="0">
                    <div class="input-group-addon">.00</div>
                </div>
            </div>
        </form>
    </div>
</div>

<hr />
<h2>Abonos registrados</h2>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-2">Recibido</div>
        <div class="col-md-2">Registrado SIIF</div>
        <div class="col-md-2">Match OrdenCL</div>
        <div class="col-md-2">REG SIIF NA</div>
        <div class="col-md-2">Error Reg. SIIF</div>
        <div class="col-md-2">No definido</div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"><img class="img-responsive" src="~/Content/img/azul48.png" alt="Abono recibido correctamente." /> </div>
        <div class="col-md-2"><img class="img-responsive" src="~/Content/img/naranja48.png" alt="Abono registrado SIIF" /></div>
        <div class="col-md-2"><img class="img-responsive" src="~/Content/img/verde48.png" alt="Abono match orden cliente" /></div>
        <div class="col-md-2"><img class="img-responsive" src="~/Content/img/verde_2_48.png" alt="Abono registro SIIF No Aplicado" /></div>
        <div class="col-md-2"><img class="img-responsive" src="~/Content/img/rojo48.png" alt="Abono sin registro SIIF" /></div>
        <div class="col-md-2"><img class="img-responsive" src="~/Content/img/gris48.png" alt="Estado sin definir" /></div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="contenido">
                <input type="text" id="dtpFecInicio" required placeholder="Desde" class="form-control" />
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="contenido">
                <input type="text" id="dtpFecFinal" required placeholder="Hasta" class="form-control" />
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="contenido text-center">
                <button type="button" title="Aplicar" id="btnAplicar" class="btn btn-primary form-control">Filtrar</button>
            </div>
        </div>
    </div>
</div>
<br />
<div id="list"></div>

@section scripts {
    <script src="@Url.Content("~/Scripts/appJS/abonos.js")" type="text/javascript"></script>
}
